@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

* {
  margin: 0; padding: 0;
}

html {
  font-size: 1vw;
}

/* Global CSS */
body {
  background: #e8ecf0;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #224669;
  margin: 0 auto;
}

h1 {
  color: #224669;
  font-size: 3rem;
}


h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

p {
  color: #2E2E2E;
  font-size: 1rem;
}

a {
  font-size: 1rem;
}

div.page-wrapper {
  width: 80%;
  margin: auto;
}

/* Header CSS */

header {
  margin-top: 5%;
  margin-bottom: 5%;
}

h1.name {
  padding-left: 15%;
}

/* Aside section */

aside {
  width: 15%;
  position: fixed;
}

img.personalPhoto {
  width: 100%;
  height: auto;
  margin: 0 auto;
  /* makes the photo round and with a border:
  border-radius: 50%;
  border: 2px #2E2E2E solid; */
}

div.businessInformationSection {
  margin-top: 5%;
}

div.businessInformationSection > p {
  text-align: center;
  line-height: 150%;
  margin: 0 auto;
  margin-bottom: 15%;
}

div.businessInformationSection > p > strong {
  font-weight: inherit;
}

/* central section */

/* Display none the section for mobile devices */

section.history_mobile {
  display: none;
}

section.history {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto;
  margin-left: 25%;
}

div.title {
  border: 2px #224669 solid;
  border-bottom: none;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-left: none;
  text-align: center;
}

div.title:first-child {
  border-left: 2px #224669 solid;
}

div.working.title {
  border-bottom: 2px #224669 solid;
}

div.skills.title {
  border-bottom: 2px #224669 solid;
}

ul.content_list {
    list-style: none;
    margin-left: 0;
    padding-left: 1rem;
    font-size: 2rem;
    color: #2E2E2E;
    line-height: 4rem;
}

ul.content_list > li:before {
    display: inline-block;
    content: "-";
    width: 1rem;
    margin-left: -1rem;
}

section.history > div.content {
  grid-column-start: 1;
  grid-column-end: 4;
  border: 2px #224669 solid;
  border-top: none;
  padding: 10% 5% 10% 5%;
  margin-bottom: 10%;
}

h1.content_title {
  margin-bottom: 5%;
  margin-left: 5%;
  font-size: 3rem;
  font-weight: 500;
}

div.working.content, div.skills.content {
  display: none;
}

/* Remove button graphic */

button {
  border: none;
  background-color: inherit;
  color: #224669;
  font-size: 2rem;
  padding-top: 0.5rem;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* media queries */

/* Cellphones */

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 7rem;
  }

  header {
    margin-top: 10%;
    margin-bottom: 15%;
  }

  aside {
    width: 50%;
    margin: 0 auto;
    position: inherit;
  }

  p {
    font-size: 5rem;
  }

  a.mailAdress {
    font-size: 5rem;
    margin-left: -8rem;
  }

 /* Central section for mobile devices */

  section.history {
    display: none;
  }

  section.history_mobile {
    display: block;
  }

  div.title {
    text-align: left;
    border: none;
    padding-top: 10%;
  }

  h1.content_title {
    font-size: 8rem;
    font-weight: 500;
    text-align: center;
    margin-top: 10%;
  }

  ul.content_list {
    font-size: 5rem;
    line-height: 10rem;
    padding-top: 10%;
    margin-left: 2rem;
  }

  ul.content_list > li:before {
    margin-left: -3rem;
    margin-right: 2rem;
  }

  div.title:first-child {
    border: none;
  }

  button {
      font-size: 8rem;
  }

  button:focus {
    outline: none;
  }

  div.content {
    display: none;
  }

}
